<!DOCTYPE html>
<html>
<head>
    <title>Create Student</title>
</head>
<body>
    <h1>Create Student</h1>
    <form action="/create_student" method="POST">
        <label for="student_name">Student Name:</label>
        <input type="text" id="student_name" name="student_name" required><br><br>
        <label for="credits_needed">Total Credits Needed:</label>
        <input type="number" id="credits_needed" name="credits_needed" required><br><br>
        <input type="submit" value="Create">
    </form>
</body>
</html>
